* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white
}

.container {
    width: 100%;
}

.container ul {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;

}

.container ul :nth-child(1) {
    width: 150px;
    height: 40px;
    margin-right: 60px;
}

.container ul li:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(37, 36, 36);
    position: relative;
}

.container ul li .houselogo {
    width: 30px;
    height: 30px;
    filter: invert(1);
    position: absolute;
    left: 10px;
}

.container ul li input {
    position: relative;
    padding-right: 200px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 20px;
    outline: none;
    margin-left: 15px;
}

.container ul li .searchlogo {
    position: absolute;
    width: 20px;
    height: 20px;
    filter: invert(1);
    z-index: 1;
    top: 25px;
    left: 320px;
}

.sign-up {
    border: none;
    background-color: rgb(37, 36, 36);
    border-radius: 2rem;
    padding: 10px 0px 10px 0px;
    ;
    font-weight: bolder;
    width: 80px;
    text-align: center;
    color: white;
    position: absolute;
    right: 90px;
}

.login-in {
    background-color: rgb(247, 245, 245);
    border: none;
    border-radius: 2rem;
    padding: 10px 0px 10px 0px;
    ;
    font-weight: bolder;
    width: 80px;
    text-align: center;
    color: rgb(8, 8, 8);
    position: absolute;
    right: 5px;
}

.main {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.left {
    background-color: rgb(37, 36, 36);
    height: 100vh;
    width: 20vw;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    position: relative;
}

.right {
    background-color: rgb(37, 36, 36);
    height: 100%;
    width: 80vw;
    border-radius: 2rem;
    text-align: center;
}

.library-svg {
    width: 30px;
    height: 30px;
    filter: invert(2);
    color: white;
    /* This will set the color */
    fill: currentColor;
}

.plus-svg {
    width: 30px;
    height: 30px;
    filter: invert(2);
    color: white;
    /* This will set the color */
    fill: currentColor;
    position: absolute;
    right: 10px;
}

.svg {
    display: flex;
    align-items: end;
    gap: 5px;
    font-size: 24px;
    font-weight: bolder;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 6px;
    border: none;
    border-radius: 1rem;
    margin: 20px;
    background-color: rgb(66, 65, 65);
    height: 16vh;
    width: 17vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(4, 4, 4) transparent;
}

.content-1::-webkit-scrollbar-track {
    background: transparent; /* Background of the scroll bar track */
}

.content-1::-webkit-scrollbar-thumb {
    background-color: rgb(5, 5, 5); 
    border-radius: 1rem; 
}

.bt {
    margin: 10px 0px 9px 21px;
    padding: 7px 0px 5px 0px;
    width: 113px;
    border-radius: 1rem;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
   
}
.div-1{
    font-size: 20px;
    margin-top: 18px;
}
.div-3{
    font-size: 17px;
    margin-top: 20px;
}
.div-4{
    font-size: 15px;
}


.footer{
    position: absolute;
    bottom: 0; 
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: grey;
}