* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white
}



.container ul {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;

}

.container ul :nth-child(1) {
    width: 150px;
    height: 40px;
    margin-right: 60px;
}

.container ul li:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(37, 36, 36);
    position: relative;
}

.container ul li .houselogo {
    width: 30px;
    height: 30px;
    filter: invert(1);
    position: absolute;
    left: 10px;
}

.container ul li input {
    position: relative;
    padding-right: 200px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 20px;
    outline: none;
    margin-left: 15px;
}

.container ul li .searchlogo {
    position: absolute;
    width: 20px;
    height: 20px;
    filter: invert(1);
    z-index: 1;
    top: 25px;
    left: 320px;
}

.sign-up {
    border: none;
    background-color: rgb(37, 36, 36);
    border-radius: 2rem;
    padding: 10px 0px 10px 0px;
    ;
    font-weight: bold;
    width: 80px;
    text-align: center;
    color: white;
    position: absolute;
    right: 90px;

}

.sign-up:hover {
    padding: 9px;
    font-weight: 900;
}

.login-in {
    background-color: rgb(247, 245, 245);
    border: none;
    border-radius: 2rem;
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
    width: 80px;
    text-align: center;
    color: rgb(8, 8, 8);
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.login-in:hover {
    padding: 9px;
    font-weight: 900;
}

.main {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.left {
    background-color: rgb(37, 36, 36);
    height: 100vh;
    width: 30vw;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    position: relative;
}

@media only screen and (max-width: 932px) {
    .left {
        display: none;
    }
}


.library-svg {
    width: 30px;
    height: 30px;
    filter: invert(2);
    color: white;
    /* This will set the color */
    fill: currentColor;
}

.plus-svg {
    width: 30px;
    height: 30px;
    filter: invert(2);
    color: white;
    /* This will set the color */
    fill: currentColor;
    position: absolute;
    right: 10px;
}

.svg {
    display: flex;
    align-items: end;
    gap: 5px;
    font-size: 24px;
    font-weight: bolder;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 6px;
    border: none;
    border-radius: 1rem;
    margin: 20px;
    background-color: rgb(66, 65, 65);
    height: 16vh;
    width: 17vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(4, 4, 4) transparent;
}

.content-1::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the scroll bar track */
}

.content-1::-webkit-scrollbar-thumb {
    background-color: rgb(5, 5, 5);
    border-radius: 1rem;
}

.bt {
    margin: 10px 0px 9px 21px;
    padding: 7px 0px 5px 0px;
    width: 113px;
    border-radius: 1rem;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(0, 0, 0);

}

.div-1 {
    font-size: 20px;
    margin-top: 18px;
}

.div-3 {
    font-size: 17px;
    margin-top: 20px;
}

.div-4 {
    font-size: 15px;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.right {
    background-color: rgb(37, 36, 36);
    height: 100%;
    width: 75vw;
    height: 100vh;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    position: relative;
}

@media only screen and (max-width: 932px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }
}


.heading {
    position: relative;
    height: 10vh;
}

.heading h1 {
    position: absolute;
    left: 20px;
    top: 20px;
}

.cards {
    width: 70vw;
    max-height: 70vh;
    margin-left: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 16px;
    /* Thicker scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    /* Track background */
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Thumb (scroll handle) */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Hover color for thumb */
}

::-webkit-scrollbar-button {
    display: none;
    /* Hides the up/down buttons */
}

* {
    scrollbar-width: auto;
    /* Adjust scrollbar width */
    scrollbar-color: #333 #1a1a1a;
    /* Thumb color, Track color */
}







.card {
    height: 37vh;
    width: 13vw;
    padding: 15px 15px 7px 15px;
    background-color: rgb(66, 65, 65);
    border-radius: 1rem;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;

}

.card h3,
p {
    padding-top: 4px;
}

.card p {
    font-size: 12px;
}

.playbt {
    position: absolute;
    top: 185px;
    right: 12px;
    opacity: 1;
    transition: all 2s ease-out;
}

.hover:hover {
    opacity: 0;
    top: 240px;
}

.playbutton {
    position: fixed;
    bottom: 6px;
    right: 215px;
    background-color: rgb(77 82 82);
    width: 50vw;
    height: 6vh;
    border-radius: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
    bottom: 9px;
}

.songlist {
    margin: 0;
    /* No margin */
    padding-left: 20px;
    /* No padding */
    height: 450px;
    overflow: auto;

}

.songlist ul {
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    display: flex;
    /* Use flexbox for alignment */
    flex-direction: column;
    /* Arrange items in a column */
    align-items: flex-start;
    /* Align items to the start (left) */
}

.songlist ul li {
    margin: 2px 0;
    /* Vertical margin between items */
    padding: 9px;
    /* Padding inside each list item */
    width: 90%;
    /* Full width of the parent */
    text-align: left;
    /* Align text to the left */
    list-style: none;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
}

.cont {
    display: flex;
    align-items: center;
    gap: 20px;
}

.playnow {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.seekbar {
    width: 95%;
    /* border: 2px solid red; */
    margin-left: 22px;
    position: absolute;
    bottom: 14px;
    height: 8px;
    border-radius: 5px;
    filter: invert(1);
    background-color: #232222;
    cursor: pointer;
}
.circle{
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #232222;
    filter: invert(1);
    position: relative;
    bottom: 6px;
    left: -1px;
    transition: left 0.5s;
    cursor: pointer;
}
.songinfo{
    filter: invert(1);
    /* background-color: #1a1a1a; */
    position: absolute;
    left: 58px;
    bottom: 5px;
}
.songtime{
    filter: invert(1);
    /* background-color: #b5acac; */
    position: absolute;
    left: 61px;
    bottom: -3px;
}